= semantic_form_for :category, :url=>admin_categories_path do |f|
  = f.inputs :category do
    = f.input :page, :as => :select, :collection => @pages, :selected=>@page_id, :input_html => { :disabled => true }
    = f.input :name
    = hidden_field nil, nil, :name => "category[page_id]", :value => @page_id
  %fieldset.actions
    %ol
      %li#category_submit_action.action.input_action
        %input{:name => "commit", :type => "submit", :value => "Guardar Category"}/
      %li.cancel
        = link_to "Cancelar", "/admin/categories?page_id=#{@page_id}"
