.home-photo
  #s3slider
    %ul{:id => "sliderContent"}
      - @home_photos.each do |hp|
        %li.sliderImage
          = image_tag(hp.photo.url(:home))
          %span
      .clear.sliderImage
.clear
.modules
  .module
    = image_tag "home-module-1.png"
    = link_to "Lista de Casamientos", index_path("listas-de-casamiento")
  .module
    = image_tag "home-module-2.png"
    Novedades
  .module.last
    = image_tag "home-module-3.png"
    Tus Regalos personalizados
.clear