.site-sections-center
  .content
    .left
      .site-image
        = image_tag page.site_image.to_s
      .text
        = page.text.html_safe if page.text
    .right
      .images
        - @products.each_with_index do |product, i|
          - unless product.photos.empty?
            - if (i == 2 || i == 5 || i == 8 || i == 11)
              .one-image.last
                = link_to(image_tag(product.photos.first.photo.url(:small)), "", :class=>"section-photo", :product_id=>product.id) if product.photos.first
            - else
              .one-image
                = link_to(image_tag(product.photos.first.photo.url(:small)), "", :class=>"section-photo", :product_id=>product.id) if product.photos.first
      - if params[:page] == "1" || params[:page].nil?
        = will_paginate @products, :next_label=>"SIGUIENTE", :previous_label=>"", :page_links=>false
      - elsif params[:page] == @products.total_pages.to_s
        = will_paginate @products, :next_label=>"", :previous_label=>"ANTERIOR", :page_links=>false
      - else
        = will_paginate @products, :next_label=>"SIGUIENTE", :previous_label=>"ANTERIOR", :page_links=>false  
      %div{id: 'myModal', :class => 'modal hide fade'}

          


