.frame.wedding-list
  .title
    .content.wedding-list
      .star-left
      .page-name
        Listas de Casamiento
      .star-right
    .clear
  .left
    .text
      En G&D Objetos podés armár tu Lista de Casamiento! Estos son algunos de los productos que podés incluir. Contactanos y comentanos cuáles de ellos te interesan!
    .line
    = form_tag email_path, :class=>"wedding-list-form" do
      .fields
        .label2
          Nombre
        .field.text
          = text_field_tag :name
        .label2
          Email
        .field.text
          = text_field_tag :email
        .label2
          Mensaje
        .field.area
          = text_area_tag :content, nil, :class=>"wedding-list"
        .field.submit
          = submit_tag "Enviar"
          = hidden_field nil, nil, :name => :wedding_list
  .right
    .wedding-right-frame
      %ul
        %li
          %span.title
            Vajillas de mesa
          %br
          %ul
            %li
              %span.description
                Inglés
            %li
              %span.description
                Nacional
            %li
              %span.description
                Loza inglesa
        %li
          %span.title
            Cristaleria
          %br
          %ul
            %li
              %span.description
                Importada
            %li
              %span.description
                Nacional
            %li
              %span.description
                Varios
        %li
          %span.title
            Cubiertos
          %br
          %ul
            %li
              %span.description
                Línea Gamuza
        %li
          %span.title
            Orfebrería
          %br
          %ul
            %li
              %span.description
                Nacional
        %li
          %span.title
            Cocina
          %br
          %ul
            %li
              %span.description
                Utensillos
            %li
              %span.description
                Cacerolas
            %li
              %span.description
                Termos
            %li
              %span.description
                Tablas
            %li
              %span.description
                Frascos
            %li
              %span.description
                Varios
        %li
          %span.title
            Muebles
          %br
          %ul
            %li
              %span.description
                Living
            %li
              %span.description
                Comedor
            %li
              %span.description
                Espejos
            %li
              %span.description
                Sillas
            %li
              %span.description
                Varios
        %li
          %span.title
            Decoración
          %br
          %ul
            %li
              %span.description
                Ceramica Bariloche
            %li
              %span.description
                Obras de arte y obras personalizadas
  = flash[:notice]