!!!
%html
  %head
    %title G&D Objetos

    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" } 
    %meta{:name => "title", :content => "" }
    %meta{:name => "keywords", :content => "" }
    %meta{:name => "description", :content => "" }    
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "application"

    = csrf_meta_tags

    
  %body
    .wrapped
      .main-container
        .header
          .left-menu
            .line-left
            .buttons
              .first-button
                = link_to raw("<span>QUIENES SOMOS</span>"), index_path("quienes-somos"), :class => ("selected" if @event == "quienes-somos")
              .menu-star-separator
              .second-button
                = link_to raw("<span>CONTACTO</span>"), index_path("contacto"), :class => ("selected" if @event == "contacto")
              .clear
            .line-left
          .logo
            = link_to((image_tag "logo.png"), root_path)
          .right-menu
            .line-right
            .buttons
              .btn-group.menu-items.button{:id => "1"}
                %a.dropdown-toggle{:href => "#"}
                  %span HOGAR
                %ul.dropdown-menu{:id => "dropdown-1"}
                  %li 
                    = link_to "- Todos -", index_path("hogar")
                  .divider-all
                  %li
                  - @hogar_categories.each do |category|
                    %li
                      = link_to category.name, index_path(:event =>"hogar", :category_id => category.id)
                      .divider-category
              .menu-star-separator
              .btn-group.menu-items.button{:id => "2"}
                %a.dropdown-toggle{:href => "#"}
                  %span BAZAR
                %ul.dropdown-menu{:id => "dropdown-2"}
                  %li 
                    = link_to "- Todos -", index_path("bazar")
                  .divider-all
                  - @bazar_categories.each do |category|
                    %li 
                      = link_to category.name, index_path(:event => "bazar", :category_id => category.id)
                      .divider-category
              .menu-star-separator
              .btn-group.menu-items.button{:id => "3"}
                %a.dropdown-toggle{:href => "#"}
                  %span PETIT
                %ul.dropdown-menu{:id => "dropdown-3"}
                  %li 
                    = link_to "- Todos -", index_path("petit")
                  .divider-all
                  - @petit_categories.each do |category|
                    %li 
                      = link_to category.name, index_path(:event =>"petit", :category_id => category.id)
                      .divider-category
            .clear
            .line-right
      .middle
        = yield
      .footer
        .content
          .left
            G&D Objetos + Decoración.
          .right
            .follow-us
              Seguinos!
              %span
                =link_to image_tag("facebook-icon.png"), "https://www.facebook.com/gyd.objetos", :target => "_blank"
